<div class="todo">
    <div class="arriba">
        <div>{{horas}}:{{minutos}}:{{segundos}}</div>
        <div><button [disabled]="clicked" (click)="play(); clicked = true" class="bPlay">PLAY</button></div>
        <div><button (click)="stop()" class="bStop">STOP</button></div>
        <div><button (click)="record()" class="bRecord">RECORD</button></div>
    </div>
    <div class="abajo">
        {{listaTiempos}}
    </div>
    <div>
        <button (click)="irMenu()" class="bMenu">Menu</button>
    </div>
</div>