.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.bCrono{
    margin: 10px;
    width: 100px;    
    cursor: pointer;
}

.bSaludo{
    width: 100px;
    cursor: pointer;
}